@import url("https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100;200;300;400;500;600;700&family=Kumbh+Sans&family=Public+Sans:ital,wght@0,400;0,800;1,300&family=Roboto+Condensed:wght@300&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap");

* {
  box-sizing: border-box;
}
body {
  background-color: #fafafa;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  filter: brightness(1.75);
}

header {
  background-color: #ffffff;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #dbdbdb;
  z-index: 1;
}

.instagram {
  width: 135px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.borda-top {
  width: 1px;
  height: 22px;
  background-color: #dbdbdb;
}
.menu-superior-mobile {
  display: none;
}

.menu-superior {
  background: #ffffff;
  height: 54px;
  width: 935px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.barra-pesquisa {
  background: #fafafa;
  width: 215px;
  height: 28px;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.barra-pesquisa > p {
  font-weight: 400;
  font-size: 12px;
}

.icones-insta {
  width: 128.75px;
  display: flex;
  justify-content: space-between;
}

ion-icon {
  width: 22px;
  height: 22px;
}

main {
  display: flex;
}

.conteudo {
  background-color: #fafafa;
  height: auto;
  width: 935px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-top: 88px;
}

.coluna-posts {
  width: 614px;
}

.caixa-stories {
  width: 614px;
  height: 118px;
  margin-bottom: 24px;
  background-color: #ffffff;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.caixa-stories ion-icon {
  width: 32px;
  height: 32px;
  position: absolute;
  right: 5px;
  top: 43px;
  color: #ffffff;
  filter: drop-shadow(3px 3px 4px rgba(157, 157, 157, 0.467));
}
.stories-perfil img {
  width: 58px;
  height: 58px;
  border-radius: 100%;
}
.stories-perfil {
  width: 66px;
  height: 66px;
  background-image: url(img/stories_background.jpg);
  background-size: 66px;
  display: flex;

  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 1px;
}

.stories {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 14px;
}

.nome-stories p {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
}

.post {
  width: 100%;
  height: 751px;
  margin-bottom: 60px;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
}

.post-parte-superior {
  height: 61px;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dados-perfil {
  width: 85px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 17px;
}

.post-nome-perfil p {
  font-size: 14px;
  font-weight: 500;
  line-height: 16.41px;
  margin-left: 10px;
}

.foto-perfil {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.icone-opcoes {
  width: 16px;
  height: 16px;
  margin-right: 17px;
}

.foto-principal {
  width: 100%;
  height: 614px;
}

.post-parte-inferior {
  background-color: #ffffff;
  width: 100%;
  height: 76px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.icones-post-inferiores {
  height: 22px;
  display: flex;
  justify-content: space-between;
}
.icones-esquerda,
.icones-direita {
  margin: 13.5px 17.5px 0px 17.5px;
}
.icones-esquerda {
  width: 93px;
  display: flex;
  justify-content: space-between;
}

.curtidas {
  height: 20px;
  display: flex;
  align-items: center;
  margin: 0px 17px 13px 17px;
}

.foto-perfil-usuario {
  width: 20px;
  border-radius: 50%;
  margin-right: 10px;
}

.informacoes-curtidas {
  font-size: 14px;
}
strong {
  font-weight: 500;
}
.sidebar {
  width: 293px;
  height: 443px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.perfil-usuario {
  height: 85px;
  display: flex;
  align-items: center;
}

.sidebar-foto-perfil {
  border-radius: 50%;
  width: 56px;
  margin-right: 17px;
}

h3 {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
}

h4 {
  font-size: 14px;
  font-weight: 300;
  line-height: 16px;
  color: #8e8e8e;
}

.sugestoes {
  height: 256px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sugestoes-topo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
}

.sugestoes-para-voce {
  color: #8e8e8e;
}

.sugestoes-englobado-perfis {
  height: 224px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sugestoes-perfil-usuario {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
}

.sugestoes-dados-perfil {
  width: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.sugestoes-dados-perfil img {
  border-radius: 50%;
  width: 32px;
  height: 32px;
  margin-right: 11px;
}

.segue-voce {
  font-weight: 400;
  color: #8e8e8e;
}

.seguir {
  font-weight: 500;
  color: #139ef2;
}

.sidebar-inferior {
  font-size: 11px;
  font-weight: 400;
  color: #c7c7c7;
  height: 74px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 33px;
}

@media (max-width: 935px) {
  .sidebar {
    display: none;
  }
  .conteudo {
    justify-content: center;
  }
}

@media (max-width: 614px) {
  .menu-superior {
    display: none;
  }

  .menu-superior-mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0px;
    width: 100%;
    height: 54px;
    background-color: #ffffff;
    margin: 0 20px;
  }

  .conteudo-central {
    width: 100%;
    justify-content: center;
  }

  .coluna-posts,
  .caixa-stories,
  .foto-principal {
    width: 100%;
  }
}
